[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
        ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
        ignore = dirty
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
        ignore = dirty
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
        ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
        ignore = dirty
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
        ignore = dirty
[submodule "bundle/unimpairedunimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
        ignore = dirty
[submodule "bundle/scss"]
	path = bundle/scss
	url = git://github.com/cakebaker/scss-syntax.vim.git
        ignore = dirty
[submodule "bundle/html5"]
	path = bundle/html5
	url = git://github.com/othree/html5.vim.git
        ignore = dirty
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
        ignore = dirty
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
        ignore = dirty
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
        ignore = dirty
[submodule "bundle/indexed-search"]
	path = bundle/indexed-search
	url = git://github.com/henrik/vim-indexed-search.git
        ignore = dirty
[submodule "bundle/smartinput"]
	path = bundle/smartinput
	url = git://github.com/kana/vim-smartinput.git
        ignore = dirty
[submodule "bundle/erlang"]
	path = bundle/erlang
	url = git://github.com/jimenezrick/vimerl.git
        ignore = dirty
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
        ignore = dirty
[submodule "bundle/bundler"]
        path = bundle/bundler
        url = git://github.com/tpope/vim-bundler.git
        ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
        ignore = dirty
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
        ignore = dirty
[submodule "bundle/unite"]
	path = bundle/unite
	url = git@github.com:Shougo/unite.vim.git
        ignore = dirty
[submodule "bundle/unite-outline"]
	path = bundle/unite-outline
	url = git@github.com:Shougo/unite-outline.git
        ignore = dirty
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = git@github.com:Shougo/vimproc.vim.git
        ignore = dirty
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:bling/vim-airline.git
        ignore = dirty
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
        ignore = dirty
[submodule "bundle/whitespace"]
	path = bundle/whitespace
	url = git@github.com:mmozuras/vim-whitespace.git
        ignore = dirty
[submodule "bundle/cursor"]
	path = bundle/cursor
	url = git@github.com:mmozuras/vim-cursor.git
        ignore = dirty
[submodule "bundle/elixir"]
	path = bundle/elixir
	url = git@github.com:elixir-lang/vim-elixir.git
        ignore = dirty
